<div class="container">
  <div class="card">
    <h1>Image Description</h1>

    <input
      class="inputButton"
      type="file"
      accept="image/png, image/jpeg, image/webp"
      (change)="onFileSelected($event)"
    />

    <button class="describeButton"
    [title]="!selectedFile ? 'Select an image first' : ''"
    (click)="describeImage()"
    [disabled]="!selectedFile || loading || displayedDescription.length < description.length"
    [class.loading]="loading"
    >
    {{ description ? displayedDescription.length < description.length ? 'Describing' : 'Describe Again?' : 'Describe Image' }}

    @if (loading || (description && displayedDescription.length < description.length)) {
      <span class="dots">
        <span></span><span></span><span></span>
      </span>
    }
    </button>
    
    @if (error) {
      <p class="error">{{ error }}</p>
    }

    @if (description) {
        <div class="result">
            <h3>Result</h3>
            <p>{{ displayedDescription  }}</p>
        </div>
    }

    @if (selectedImageUrl) {
      <div class="image-preview">
        <img [src]="selectedImageUrl" alt="Uploaded Image" />
      </div>
    }
  </div>
</div>
