.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh; 
  padding: 2rem; 
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
}

.card {
  background: #ecd1d1;
  padding: 1rem;
  border-radius: 12px;
  width: 500px;
  max-width: 100%; 
  min-height: 150px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  word-break: break-word; 
  background-color: var(--card-bg);
  transition: background-color 0.3s, color 0.3s;
}

.describeButton {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  padding: 0.5rem 1rem;       
  border-radius: 10px;          
  font-size: 0.8rem;             
  font-weight: 400;            
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  cursor: pointer;
  }

.describeButton:hover:not(:disabled) {
  scale: 97%;
}

input[type="file"] {
  min-width: 400px;
}

.describeButton:disabled {
  cursor: not-allowed;              
}

.image-preview {
  margin: 20px 0;
}

.image-preview img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.dots {
  display: inline-block;
  width: 1.5em;
  text-align: left;
  margin-left: 0.5em;

  span {
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    margin-right: 0.2em;
    background-color: #333;
    border-radius: 50%;
    animation: blink 1s infinite;
  }

  span:nth-child(1) { animation-delay: 0s; }
  span:nth-child(2) { animation-delay: 0.2s; }
  span:nth-child(3) { animation-delay: 0.4s; }
}

@keyframes blink {
  0%, 80%, 100% { opacity: 0; }
  40% { opacity: 1; }
}